@include mobile {@import 'docs.mobile'; }
@include desktop {@import 'docs.desktop'; }

#docs-content-area {
    width: 100%;
    margin-top: 16px;
}

ul.doc-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
    height: calc(100vh - 280px);
    li {
        float: right;
        border-bottom: 2px solid lightgray;
        padding-bottom: 20px;
        position: relative;
        width: 100%;
        margin-bottom: 16px;
        div.one-doc {
            height: 130px;
            overflow: hidden;
            padding-top: 0px;
            display: flex;
            img {
                cursor: pointer;
            }
        }
    }
}

div.doc-detail {
    display: flex;
    flex-direction: column;
    .detail-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

div#doc-story {
    //height:calc(100vh - 200px);

    div.doc-story-area {

        @media(min-width: 800px) {
            max-height:calc(100vh - 600px);
        }
        overflow:auto;
        padding:25px 0px;
        div.multi-select-div {
            max-height: calc(100vh - 450px);
        }
    }
    &.editing-segments {
        height: calc(100vh - 600px);
    }
    &.show-segments {
        height: calc(100vh - 350px);
    }
    div.doc-story {
        //height: calc(100vh - 500px);
        overflow: auto;
    }
}

div.doc-frame {
    margin-left:0;
    width:572px;
    height: 60vh;
    min-height: 550px;
    position:relative;
    &.expanded {
        height: calc(100vh - 250px);
    }
}

// Fullscreen support for the doc viewer:
// - Native fullscreen keeps the element in fullscreen but WITHOUT these rules it may still
//   keep its original width/height, making it look like fullscreen "didn't work".
// - Pseudo fullscreen is a fallback for browsers that block/disable the Fullscreen API.
div.doc-frame:fullscreen,
div.doc-frame:-webkit-full-screen,
div.doc-frame:-webkit-fullscreen,
div.doc-frame.pseudo-fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
    min-height: 0 !important;
    margin: 0 !important;
    background: #000;
}

div.doc-frame.pseudo-fullscreen {
    position: fixed !important;
    inset: 0 !important;
    z-index: 2147483647 !important;
}

div.doc-frame:fullscreen .pdf-viewer,
div.doc-frame:-webkit-full-screen .pdf-viewer,
div.doc-frame:-webkit-fullscreen .pdf-viewer,
div.doc-frame.pseudo-fullscreen .pdf-viewer {
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
}

div#doc-story {
    div.topics-selection {
        margin-bottom:0px;
        position:relative;
        width:80%;
        height:51vh;
        overflow:auto;
        margin-top:12px;
    }
    button.seg-button {
        padding: 0;
        float:right;
        font-size:larger;
        border:solid 1px lightblue;
        border-radius:4px;
        span {
            color:#0f0f0f;
        }
    }
    ul.segment-list {
        // width:570px;
        max-height: 300px;
        max-width: 100% !important;
        overflow: auto;
        font-size: large;
        margin: 0;
        padding: 0;
        li {
            border-bottom:solid 1px lightgrey;
            height:30px;
            display: flex;
            justify-content: space-between;
            line-height: 14px;
            &.new-segment {
                font-weight: bold;
                cursor: pointer;
                padding-right: 10px;
                background-color: green;
                span {
                    width: 100%;
                    a {
                        color: white;
                        float: right;
                    }
                }
            }
            &.view-full-doc {
                font-weight: bold;
                cursor: pointer;
                padding-right: 0px;
                background-color: lightblue;
                a {
                    width: 100%;
                    padding-right: 10px;
                    text-align: right;
                    span {
                        width: 100%;
                        float: right;
                    }
                }
            }
            span.seg-name {
                justify-self: flex-start;
                padding-right: 10px;
                cursor: pointer;
                text-align: right;
                width: 90%;
            }
            span.remove-seg {
                padding-left: 10px;
                justify-self: flex-end;
                cursor: pointer;
            }
        }
    }
}
