li.timeline-item {
    float: left;
    border-right:solid 1px white;
    height:100%;
    width:11px;
    background-color: lightgray;
    &.in-range {
        background-color: gray;
    }
}

ul.timeline-box {
    list-style-type:none;
    background-color: #eeeeee;
    height:30px;
    padding:0px;
    margin-top:12px;
    border-top:solid 1px white;
    border-bottom:solid 1px white;
    border-left:solid 1px white;
    overflow-x: auto;
    overflow-y: hidden;
}

ul.timeline-stoppers-box {
    list-style-type:none;
    width:100%;
    padding: 0;
    margin: 0;
    position: relative;
    >li {
        background-color: gray;
        color: white;
        width:44px;
        height: 32px;
        padding-top: 3px;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        position: absolute;
    }
}

// Mobile responsive styles
@media (max-width: 767px) {
    ul.timeline-box {
        height: 25px;
        margin-top: 8px;
    }

    li.timeline-item {
        width: 8px;
    }

    ul.timeline-stoppers-box > li {
        width: 36px;
        height: 28px;
        font-size: 110%;
        padding-top: 2px;
    }

    // Make timeline container responsive
    div[css*="timeline_width"] {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        span {
            font-size: 110%;
            position: static !important;
            float: none !important;
            display: block;
            margin-bottom: 5px;
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    ul.timeline-box {
        height: 20px;
        margin-top: 6px;
    }

    li.timeline-item {
        width: 6px;
    }

    ul.timeline-stoppers-box > li {
        width: 32px;
        height: 24px;
        font-size: 100%;
        padding-top: 1px;
    }
}
