$profile_photo_size: 58px;

.list-group > li {
    text-align: center;
}

div.article-list.content-area li.list-group-item {
    width: 78px;
    min-height: $profile_photo_size + 22px;
    text-align: center;
    a {
         img {
             width: $profile_photo_size;
             height: $profile_photo_size;
         }
    }
}

.centerobjects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}



#articles-filter {
    width: 90%;
    font-size: 13px;
}
