.photo-detail {
    width:1170px;
    .detail-header {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .detail-header-controls {
        flex: 0 1 auto;
    }
    .detail-header-title {
        flex: 1 1 auto;
        text-align: start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 1200px) {
    .detail-header {
        padding-bottom: 9px;
    }
}

div.multi-select-div {
    min-height: 170px;
}
#photos-container {
    height: calc(100vh - 360px);
    &.empty-photos {
        height: calc(100vh - 430px);
    }
    overflow: auto;
}

#photos_area {
    height: 380px;
}

#photo-filters-panel {
    height: calc(100vh - 360px);
    overflow: auto;
}

div#photo-story {
    height:70vh;
    margin-right:16px;
    overflow:auto;
}

div#full-size-photo {
    margin-left:48px;
}
