@include mobile { @import 'videos.mobile'; }
@include desktop { @import 'videos.desktop'; }

#video-help {
    position:absolute;
    top: 25px;
}

#video-details {
    .video-detail-body {
        display: flex;
        justify-content: space-between;
    }
    .detail-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    div.video-area {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }

    div.cue-points-area {
        height: 250px;
        overflow: auto;
        span.highlighted {
            background-color: yellow;
        }
    }

    div.data-area {
        display: flex;
        flex-direction: column;
        .video-dates {
            margin-top: 30px;
            margin-left:14px;
            width:50%;
        }
    }
    .hilited {
        background-color: yellowgreen;
    }
}

.yt-player-shell {
    position: relative;
    width: 640px;
    max-width: 100%;
    padding-top: 56.25%;
    height: 0;
    background: #000;
    overflow: hidden;

    #ytplayer,
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

div.video-story {
    padding-top:8px;
    width:100%;
    div.video-story-area {
        position: relative;
        margin-right: 16px;
    }
}
