ul.story-list {
    margin-left: 0;
}

div.big-story-panel {
    &.rtl {
        padding-left: 30px;
        padding-right: 15px;
    }
    &.ltr {
        padding-left: 15px;
        padding-right: 30px;
    }
    font-size: 0.95em;
}

#story-filters {
    padding-right: 46px;
}
