$profile_photo_size: 60px;

div.member-list.content-area li.list-group-item {
    width: $profile_photo_size + 20px;
    min-height: $profile_photo_size + 22px;
    a {
         img {
             width: $profile_photo_size;
             height: $profile_photo_size;
         }
    }
}

#members-filter {
    width: 90%;
    font-size: 13px;
}

div#breadcrumb {
    margin-top:33px;
}


@media(max-width: 331px) {


    

        div#breadcrumb{
        margin-top: 54px !important;
        }

}

[dir="rtl"] div.member-story-panel {
    >p {
        padding-left: 0px;
        padding-right: 0px;
        direction: rtl;
    }
}

[dir="ltr"] div.member-story-panel {
    >p {
        padding-right: 0px;
        padding-left: 0px;
        direction: ltr;
    }
}



ux-dialog.config-member-stories {
    width: 100vw;
    > ux-dialog-body {
        width: 100%;
    }
}

