$navbar-height: 78px;

.navbar {
    height: auto;
    padding-top: 1vh;
    padding-bottom: 0.5rem;
    align-items: flex-end;
    flex-wrap: wrap;

    .navbar-main {
        flex: 1;
    }

    .navbar-main,
    .navbar-search {
        margin-bottom: 0.5rem;
    }

    .navbar-search {
        width: 100%;
        order: 1; // re-order to the end, a new line
    }

    .nav-item {
        padding: 0 0.5rem;
    }

    .nav-item,
    .navbar-logo {
        font-size: 1.6rem;

        img {
            width: 28px;
            margin-left: 0.25rem;
        }
    }
}

.search-box {
    width: 100% !important;
    label {
        width: 100%;
    }
}

.top-head {
    position: absolute;
    top: $navbar-height;
    width: 100%;

    .page-title > span {
        background: rgba(255,255,255,0.65);
        border-radius: 24px;
        padding: 0 6px;
    }
}

.navbar + #router-view {
    padding-top: $navbar-height;
}

.top-head + #router-view {
    padding-top: $navbar-height + 110px;
}

@media(max-width: 700px) {
    span.router-title {
        display: none;
    }
    // #photo-image{
    // max-width: calc(100vw - 32px);
    // }
    // #photo-image img{
    //     max-width: 100%;
    // object-fit: contain;
    // }
    // button.navigation-arrow.left{
    // left: -17px !important;
    // }
    // button.navigation-arrow.right{
    // right: 8px !important;
    // }
    div#full-size-photo{
        margin-top: 60px !important;
    }
    .main-panel.panel {
    flex-direction: column !important;
    }

    // #footer .footer-area button {
    //     display: none;
    // }
    #footer .footer-area{
        flex-direction: column;
        height: auto !important;
    }
    .container .content-area{
        margin: 55px auto !important;
    }
    .palette-oldie .top-head, .palette-oldie .footer-area{
    margin-top: 37px !important;
    }

    div.member-list.content-area li.list-group-item {
        width: calc(100% / 4) !important;
    }
    #video-details div.cue-points-area{
        height: auto !important;
        overflow:auto !important
    }
    ux-dialog.config-member-stories{
        margin-top: 73px;
    }
    .menu-items{
        display: none !important;
    }
    .panel-vid{
        width: 100% !important;
        margin: 10px !important;
        margin: 0 auto !important;
    }
}

.navbar .loader {  //does not work. why?
    position: absolute;
    top: 200px;
    left: 200px;
    font-size:5em;
}

.search-box-input {
    font-size: 100%;
    height: 2em;
}

.detail-header {
    margin-top: 26px;
    min-height: 60px;
    h3 {
        padding: 0 8px;
    }
}

div.page-container {
    background-color: antiquewhite;
}

div.container {
    padding-right: 0;
    padding-left: 0;
}

ux-dialog-container.active {
    > div {
        padding: 8px 2px;
    }
}
